.item {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.item p {
    margin: 0 0 0 5px;
    font-family: 'sans-serif';
    word-break: break-all;
    font-size: 15px;
}
