.item {
    display: flex;
    gap: 7px;
    flex-direction: column;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

div.checkbox-name {
    display: flex;
    align-items: center;
}

span.numberTodo {
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 7px;
    font-size: 15px;
}

div.checkbox-name p {
    margin: 0 0 0 7px;
    font-family: 'sans-serif';
    word-break: break-all;
    font-size: 15px;
    cursor: pointer;
}

div.checkbox-name input[type='checkbox'] {
    margin: 0px;
}

div.date-edit {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}

div.date-edit small.date {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.35);
    font-family: sans-serif;
}

p.icons {
    display: flex;
    gap: 1em;
    margin: 0;
}

p.icons .fa-pen-to-square {
    color: rgb(71, 148, 71);
    cursor: pointer;
}

p.icons .fa-trash {
    color: rgb(238, 54, 54);
    cursor: pointer;
}
