.list-container {
    width: 200px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number-tasks {
    position: absolute;
    top: 7px;
    left: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

h1.title-list, h1.title-list-modal {
    font: bold 1.5em sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

h1.title-list {
    margin: 10px 0 0 0;
}

h1.title-list-modal {
    margin: 15px 0 25px 0;
}

.box-modal {
    max-height: 500px;
    overflow-y: scroll;
}

i.fa-xmark {
    position: absolute;
    top: 5px;
    right: 8px;
    padding: 5px;
    cursor: pointer;
}

form.form-add-todo {
    display: flex;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}

form.form-add-todo input {
    width: 100%;
    outline: 0;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

form.form-add-todo input:hover {
    border: 1px solid rgb(128, 9, 175);
    background-color: rgba(128, 9, 175, 0.03);
}

form.form-add-todo i {
    color: blueviolet;
    position: absolute;
    font-size: 18px;
    right: 12px;
    top: 9px;
}

ul.list-todos {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
    margin: 20px 0 0 0;
}

h4.list-empty {
    font-family: sans-serif;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
}

@media(max-width: 1000px) {
    .box-modal {
        width: 60% !important;
    }
}

@media(max-width: 600px) {
    .box-modal {
        width: 90% !important;
        padding: 15px 10px !important;
    }
}
