.list-container {
    width: 200px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.308);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i.fa-xmark {
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}

h1.title-list, h1.title-list-modal {
    font: bold 1.5em sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

h1.title-list-modal {
    margin: 10px 0 25px 0;
}

form.form-add-todo {
    display: flex;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}

form.form-add-todo input {
    outline: 0;
    padding: 8px 0 8px 32px;
    width: 320px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

form.form-add-todo i {
    color: blueviolet;
    position: absolute;
    font-size: 18px;
    left: 9px;
    top: 9px;
}

ul.list-todos {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
    margin: 20px 0 0 0;
}

h4.list-empty {
    font-family: sans-serif;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
}

@media(max-width: 1000px) {
    .box-modal {
        width: 60% !important;
    }
}

@media(max-width: 600px) {
    .box-modal {
        width: 90% !important;
        padding: 15px 10px !important;
    }
}
